.IconsBox {  
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            padding: 10px; 
            color: #00ff66;            
        }
        .IconsHead{
         text-align: center;
         border-bottom:#00ffbb 2px solid;
        }
        .Icons {  
            
            display: flex;            
            flex-direction: row;
            flex-wrap:wrap;
            padding: 10px;        
            color: #00ff66;            
        }
        .IconsBoxHeader{
            padding-left:3px;
            text-align: center;
            font-weight: 600;
          
            border-bottom:none;
        }