
.FileElementMain{
cursor: pointer; /* Fare imlecini tıklanabilir olduğunu belirten el ikonuna dönüştürür */
  display: flex; /* Öğeyi bir flex konteyneri yapar */
  flex-direction: column; /* Flex öğelerini dikey olarak (üst üste) sıralar */
  align-items: center; /* Flex öğelerini yatayda (ana eksene dik yönde) ortalar */
  margin: 5px; /* Öğenin etrafına 5 piksellik dış boşluk (margin) ekler */
position:relative; 
}


.FileSelector{
   position:absolute; 
  background-color: #009900dd;
  border: 1px solid #00aa00;
  border-radius: 3px;
  display:flex;
  left:50%;
  top:30%;
  flex-direction: column;
  gap:1px;
   z-index: 9998;
}
.FileSelector a{  
  color:#00ff00;
  padding:3px;    
}
.FileSelector a:hover{
  background-color: #00aa00;
  color:#00ffbb;
}
.BigImageContainer{
  position:fixed;
  left:calc(50vw - 25%);
  top:calc(50vh - 35%); 
  width: 50%;
  height: 70%;
  z-index: 9999;
  animation-name: animation1;
  animation-duration: 0.5s;
}
@keyframes animation1 {
  from{
   width: 30%;
  height: 50%;
    left:calc(50vw - 15%);
  top:calc(50vh - 25%); 
  opacity: 0;
  }
  to{
    width: 50%;
  height: 70%; 
  left:calc(50vw - 25%);
  top:calc(50vh - 35%); 
  opacity: 1px;
  }
}
.BigImageContainer img{
  width:100%;
  height: 100%;
}
.img{
  display:flex;
  flex-direction: column;
  align-items: center;  
}
.BigImageMenu{
  background-color: #004f00;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}
.CloseBtn{  
  margin:3px;
  color:#00aa00;
  position:relative;
  display:flex;
  justify-content:right;             
  font-weight:Bold;
}
.CloseBtn:hover{
  color:#00ffbb;
}
