.imageadd-area {
  
  display: flex;  
  flex-direction: row;
  gap: 10px; /* Aralarına boşluk koy */
  font-family: Arial, sans-serif;
  padding: 5px;
  align-items: center;
}
.imageadd-footer{  
  display: flex;
  flex-direction: row;
}
button:disabled{
  border:red solid 2px;
  color:red;
}