:root{
    --background-color: rgba(0,100,0,0.5);
}
.OpenButton{
    padding:0.5rem;
    background-color: var(--background-color);
    border:1px solid #00ff55;
    color:#00ff55;
    border-radius: 3px;
}
.OpenButton:hover{
    border:1px solid #00ffbb;
    color: #00ffbb;
}
.MainFrame{
    display:block;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);    
    z-index: 1001;  
}
.MainFrameClose{
    display:none;    
}
.Content{        
    margin:10vh 10vw; 
    position: relative;       
    padding-bottom:10px;
    background-color: var(--background-color);
    color:aliceblue;
    animation-name: myAnimation;
  animation-duration: 1s;
}
@keyframes myAnimation {
  from {
    opacity: 0;
    margin:20vh 20vw;  
}
  to {
    opacity: 1;
    margin:10vh 10vw;  
}
}
.MenuBar{
    display:flex;
    justify-content: space-between;
    background-color: RGBA(0,200,0,0.5);
    padding:5px;
    
}

.MenuBar button,label{
    padding:0.5rem;
    border: none;
    cursor:pointer;
    background-color: transparent;
    color:#00ff55;
    font-weight: bold;
    text-align: center;
}
.MenuBar button:hover{
    border:none;
    transform: scale(1.1);
    color:#00ffbb;
    background-color: var(--background-color);
}
