.DelExperiment{  
  width:40%;
  padding:5px;
  border:#00ffbb 1px solid;
  border-radius: 2px;
}
.DelMessage{
    margin:10px;
    line-height: 15pt;
}
.button
{
  width:70px;
   justify-content: flex-end;
   margin:10px;
   padding:8px;
   background-color: transparent;
   border: #00dd00 solid 2px;
   border-radius: 3px;
   color:#00dd00;
}
.button:hover
{
   border: #00ffbb solid 2px;
   color:#00ffbb;
}