.ExperimentContent
{
  display:flex;
  flex-direction: column;
   color:#00ff66;
}
.ExperimentContent a{
  margin-top:10px;  
  text-decoration: none;
  color:#00ffdd;
}
.ExperimentContent a:hover{
  color:#00ffff;
}
.ExperimentContent h2{
    margin-bottom:10px;
}
.ExperimentContent .ModLink{
    color:#cdcd00;
    text-decoration: none;
}
.ExperimentContent .ModLink:hover{
    color:#ffff00;
}
.ExperimentContent .DelLink{
    margin-left:10px;
    color:#cd0000;
    text-decoration: none;
}
.ExperimentContent .DelLink:hover{
    color:#ff0000;
}
.TagsBox {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid lime;
    border-radius: 12px;
    background-color: transparent;
    cursor: zoom-in;
}