
#root {
  max-width: 1280px;
}
.App{
  display: flex;
flex-direction: column; 
 width: 90vw;
 text-align: center;
}

.MainContentArea {
  margin-top:10vh;
  /* Geri kalan boşluğun hepsini kapla */
  flex-grow: 1; 
  /* İçeriği içten hizala */
  padding: 20px;
}