
#root {
  max-width: 1280px;
}
.App{
  display: flex;
flex-direction: column; 
 width: 90vw;
 text-align: center;
}

.MainContentArea {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top:10vh;
  flex-grow: 1; 
  padding: 20px;
}