* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Bu, genişlik ve yükseklik hesaplamasını kolaylaştırır */
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #005500;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px  #005500; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff22; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00aa00; 
}
body{
  /*background-color: #1a2a1a;
            background-image:
                linear-gradient(to right, rgba(0, 255, 102, 0.1) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(0, 255, 102, 0.1) 1px, transparent 1px),
                radial-gradient(circle at 10% 20%, rgba(0, 255, 153, 0.1) 0%, transparent 50%);
            background-size: 30px 30px, 30px 30px, cover;
            background-attachment: fixed;*/
            background-image: url('/public/background2.jpg');
            background-repeat: repeat;
            
            color: #00ff66;
            /* Parlak ZnO:Zn fosfor yeşili */
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;           
}
input{
    background-color: transparent;
    border:none;
   border-bottom: #00ffbb solid 2px;
   color:#00ffbb;
}
button,input[type='submit']
{
   justify-content: flex-end;
   margin:10px;
   padding:8px;
   background-color: transparent;
   border: #00dd00 solid 2px;
   border-radius: 3px;
   color:#00dd00;   
}
button:hover,input[type='submit']:hover
{
   border: #00ffbb solid 2px;
   color:#00ffbb;
}
button:active,input[type='submit']:active
{
   border: #ffffff solid 2px;
   color:#ffffff;
}